#root{
    -fx-font-family: Optima;

    /* otra opion de font : andale mono */
}

/* Estilos Inicio */
.botonInicio{
    -fx-border-width: 0px 0px 2px 0px;
    -fx-font-size: 1.2em;
    -fx-border-color: #B8B8B8;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.filtradoCarousel{
    -fx-prompt-text-fill: grey;
}





