#sp{
    -fx-font-family: Optima;
    -fx-font-weight: bold ;

    /* otra opion de font : andale mono */
}


.bodybg{
    -fx-background-image: url('../images/logo2.png') ;
    -fx-background-size: 100% 100%;
}
.bodybg2{
    -fx-background-color:  #DC9656;


}
.dato {
    -fx-cell-size: 50px;
}



